# Extracting Reviews on The Lion King (2019) from Rotten Tomatoes

### Problem Description:
Our goal is to perform sentiment analysis on user reviews about the movie 'The Lion King(2019)'. After the analysis the production company expects us to give some take aways that could help them with the future projects.

### Problem Approach:
1. We have to extract 3000 reviews from rotten tomatoes.
2. After initial pre processing we have to perform Exploratory data analysis on the reviews using word clouds, ngrams etc.
3. This is a binary classification problem. We need to use supervised classification methods and classify the reviews into positive and negative reviews.
4. Perform cluster analysis on the reviews.

### In this section we are extracting the reviews from rotten tomatoes

## Import

In [19]:
import requests
import time
import pandas as pd
from pandas.io.json import json_normalize

## Creating headers for our request

In [2]:
headers = {'Referer':'https://www.rottentomatoes.com/m/the_lion_king_2019/reviews?type=user','User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.108 Safari/537.36','X-Requested-With':'XMLHttpRequest',}

In [3]:
headers

{'Referer': 'https://www.rottentomatoes.com/m/the_lion_king_2019/reviews?type=user',
 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.108 Safari/537.36',
 'X-Requested-With': 'XMLHttpRequest'}

## URL

In [4]:
url ='https://www.rottentomatoes.com/napi/movie/9057c2cf-7cab-317f-876f-e50b245ca76e/reviews/user'

## Create a session object

In [5]:
s = requests.Session()

##### Below code is a rough draft to create the function

In [6]:
# payload1 = {'direction': 'next','endCursor': '','startCursor': ''}
# r = s.get(url, headers=headers, params=payload1)    # GET Call 
# data1 = r.json()

# data1

# payload2 = {'direction': 'next','endCursor': 'eyJyZWFsbV91c2VySWQiOiJGYW5kYW5nb19DMjExNTA4RS1CNjAwLTQ0RTAtQTI4OS1DNDNFRURGMzA4MzEiLCJlbXNJZCI6IjkwNTdjMmNmLTdjYWItMzE3Zi04NzZmLWU1MGIyNDVjYTc2ZSIsImVtc0lkX2hhc1Jldmlld0lzVmlzaWJsZSI6IjkwNTdjMmNmLTdjYWItMzE3Zi04NzZmLWU1MGIyNDVjYTc2ZV9UIiwiY3JlYXRlRGF0ZSI6IjIwMTktMDgtMThUMDM6Mjg6NTAuNzAwWiJ9',
#   'startCursor': None}

# r = s.get(url, headers=headers, params=payload2)    # GET Call 
# data2 = r.json()

# data2

# payload3 = {'direction': 'next','endCursor': 'eyJyZWFsbV91c2VySWQiOiJSVF8yNjAzMTQyNTYiLCJlbXNJZCI6IjkwNTdjMmNmLTdjYWItMzE3Zi04NzZmLWU1MGIyNDVjYTc2ZSIsImVtc0lkX2hhc1Jldmlld0lzVmlzaWJsZSI6IjkwNTdjMmNmLTdjYWItMzE3Zi04NzZmLWU1MGIyNDVjYTc2ZV9UIiwiY3JlYXRlRGF0ZSI6IjIwMTktMDgtMThUMDE6NDM6MTYuMjk2WiJ9',
#   'startCursor': 'eyJyZWFsbV91c2VySWQiOiJGYW5kYW5nb185YzIyMDUwMi0wNDZiLTRiOTgtYTBkMS1hZDI3MWVkNjExZjgiLCJlbXNJZCI6IjkwNTdjMmNmLTdjYWItMzE3Zi04NzZmLWU1MGIyNDVjYTc2ZSIsImVtc0lkX2hhc1Jldmlld0lzVmlzaWJsZSI6IjkwNTdjMmNmLTdjYWItMzE3Zi04NzZmLWU1MGIyNDVjYTc2ZV9UIiwiY3JlYXRlRGF0ZSI6IjIwMTktMDgtMThUMDM6MjU6NDUuNTgzWiJ9'}

# r = s.get(url, headers=headers, params=payload3)    # GET Call 
# data3 = r.json()

# data3

# data1['reviews'].append(data2['reviews'])

# data1['reviews'].append(data3['reviews'])

# data1['reviews']

# data1['pageInfo']['startCursor']

# data1['pageInfo']['endCursor']

## Function to extract 3000 reviews

In [9]:
payload = {'direction': 'next','endCursor': '','startCursor':''}
r = s.get(url, headers=headers, params=payload)    # GET Call 
data = r.json() # Extracting the reviews from the first page.
allreviews = [] # Empty list to store all the reviews
allreviews.append(data['reviews']) # Appending the first 10 reviews to the allreviews list.

In [10]:
for i in range(0,299): # We need to extract 3000 reviews. we have 10 per each page.
    temp_start = data['pageInfo']['startCursor'] # temp_start stores the startCursor from previous pageInfo
    temp_end = data['pageInfo']['endCursor'] # temp_end stores the endCursor from previous pageInfo
    payload = {'direction': 'next','endCursor': temp_end,'startCursor': temp_start} # Creating payload with latest parameters
    r = s.get(url, headers=headers, params=payload)   
    data = r.json()
    allreviews.append(data['reviews']) # Appending the 10 reviews per iteration to the allreviews list.
    print(i) # To check iterations
    time.sleep(5) # Time delay to save the ip from getting blocked.

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298

In [11]:
len(allreviews) # We have 300 * 10 Reviews in our list.

300

In [13]:
bkp_allreviews = allreviews.copy() # Keeping a backup of allreviews

In [14]:
allreviews_flat = [item for sublist in allreviews for item in sublist] # Making a flat list of 3000 elements from nested list of 300 elements.

In [15]:
len(allreviews_flat) # We have 3000 Reviews in our list.

3000

In [16]:
bkp_allreviews_flat = allreviews_flat.copy() # Keeping a backup of allreviews_flat

##### Account link in users dict is having NONE values. So unable to use json_normalize to create a data frame. As a work around I have extracted users dict as a list and saved it into users_list

In [23]:
users_list = [item.pop('user') for item in allreviews_flat]

In [26]:
len(users_list)

3000

In [24]:
len(allreviews_flat)

3000

##### Creating the dataframes from users_list and allreviews_flat

In [27]:
allreviews_df = json_normalize(allreviews_flat)

In [29]:
users_df = json_normalize(users_list)

In [32]:
users_df.head(5)

  accountLink displayName     realm                                userId
0         NaN       James  Fandango  F11791BD-B3C7-4C1C-937D-A9D2FBAC55E2
1         NaN   Michael M  Fandango  9F003606-9CC5-4335-AD39-25AF59B6CB11
2         NaN     Wendy K  Fandango  d8ed9d30-ea8c-49c7-8a0b-251c4115b6af
3         NaN        Tina  Fandango  e6b35e3d-054f-4f3d-94d6-6f56a5e33ce3
4         NaN     Yolanda  Fandango  e9085918-7ad2-4769-883a-40ce9510dc5b

In [41]:
allreviews_df.head(5)

,createDate,displayImageUrl,displayName,hasProfanity,hasSpoilers,isSuperReviewer,isVerified,rating,review,score,timeFromCreation,updateDate,primary_key
0,2019-08-19T06:07:06.109Z,NaN,James,False,False,False,False,STAR_4,Really enjoyed it. The songs were amazing and ...,4.0,31m ago,2019-08-19T06:07:06.109Z,0
1,2019-08-19T05:34:01.006Z,NaN,Michael M,False,False,False,True,STAR_5,Realky enjoyable. We've seen the original anim...,5.0,1h ago,2019-08-19T05:34:01.006Z,1
2,2019-08-19T05:16:59.696Z,NaN,Wendy K,False,False,False,True,STAR_5,Beautiful! Loved it!,5.0,1h ago,2019-08-19T05:16:59.696Z,2
3,2019-08-19T05:16:07.012Z,NaN,Tina,False,False,False,True,STAR_5,"Absolutely loved the movie, it had my emotions...",5.0,1h ago,2019-08-19T05:16:07.012Z,3
4,2019-08-19T04:54:52.352Z,NaN,Yolanda,False,False,False,True,STAR_5,Tha movie was phenomenal,5.0,2h ago,2019-08-19T04:54:52.352Z,4

### I want work on users and reviews seperately and merge them on primary_key

In [37]:
users_df['primary_key'] = list(range(3000))

In [38]:
allreviews_df['primary_key'] = list(range(3000))

In [39]:
users_df.to_csv('users_df_3000.csv',index=False)

In [40]:
allreviews_df.to_csv('alreviews_df_3000.csv',index=False)